[Unit]
Description=BlueZ Auto-Pairing Agent (Just Works)
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/env rpi-ble-autoagent
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
